.product-image{
    border: 1px solid rgba(5, 5, 5, 0.1) ;
    height: 310px;
    width: 310px;
}

.product-image>img{
    height: 300px;
    width: 300px;
}

.product{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
}

.product-info{
    text-align: left;
}