.product-image{
    border: 1px solid rgba(5, 5, 5, 0.1) ;
    height: 310px;
    width: 310px;
}

.product-image>img{
    height: 300px;
    width: 300px;
}

.product{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
}

.product-info{
    text-align: left;
}
.cartContainer{
    display: grid;
    grid-template-columns: 0.4fr 0.4fr 1fr;
    margin-top: 20px;
    }
.cart{

    margin-left: 10px;
    width: 20%;
    border: 1px solid rgba(5, 5, 5, 0.1);
    height: 39px;
    text-align: center;
    padding-top: 5px;

}

.btn {
    margin-left: 5px;
}


.color-box{
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.disabledButton{
    background-color: #d8d8d8  !important;
    border: none !important;
}